*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 15px;
}
header{
    nav{
        ul{
            li{
                list-style: none;
                display: inline-block;
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
main{
    #inicio{
        width: 100vh;
        height: 100vh;
    }
    #sobre-mi{
        width: 100vh;
        height: 50vh;
    }
    #portafolio{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        div{
            width: 250px;
            height: 280px;
            border: 1px solid lightgray;
            margin: 15px;
            &:hover{
                border: 1px solid rgb(231, 231, 231);
            }
        }
    }
    #contacto{
        width: 100vh;
        height: 100vh;
    }
}